// .card {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }

// .card-item {
// 	width: 100px;
// 	height: 100px;
// 	border-radius: 10%;
// }

// .product {
// 	display: flex;
// 	justify-content: right;
// 	align-items: right;
// }

// .product-item {
// 	width: 200px;
// 	height: 200px;
// 	border-radius: 20%;
// }

@mixin flex($direction) {
	display: flex;
	justify-content: $direction;
	align-items: $direction;
}
@mixin item($length, $radius) {
	width: $length;
	height: $length;
	border-radius: $radius;
}

.card {
	@include flex(center);
}
.product {
	@include flex(right);
}

.card {
	@include item(100px, 10%);
}
.product {
	@include item(200px, 20%);
}
