.one {
	font-size: 10px + 10px;
}

.two {
	font-size: 30px - 10px;
}

.three {
	font-size: 10px * 2;
}

.four {
	font-size: (20px / 10);

	// px도 나눠짐
	// font-size: (20px / 10px);
}

.five {
	font-size: 7px % 3;
}
